@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Bungee Hairline", monospace;
  font-size: 22px;
  color: white;
  background-color: black;
}

body {
  background-image: url(../assets/images/rave-video-low-polygon.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main section:nth-child(2) {
  position: relative;
  z-index: 2;
}
main .avatar {
  /* background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/85dded9e-d545-495f-bbdf-d09704c8610a-profile_image-70x70.png); */
  background: #3500D4;
  width: 150px;
  height: 150px;
  border-radius: 9000px;
  border: 1px solid #3500D4;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
main .main-button {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  background-color: #3500D4;
  border-color: black;
  border-radius: 0px 21px 21px 21px;
  border-width: 3px 10px 10px 1px;
  padding: 0 100px 0 100px;
  width: 100%;
}
main .add-game-button-mobile {
  display: none;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 1px solid #3500D4;
  border-color: black;
  border-radius: 0px 21px 21px 21px;
  border-width: 3px 10px 10px 1px;
  width: 100%;
}
main .card {
  background-color: #0C0C0C;
  border: 2px solid #3500D4;
  border-radius: 0px 21px 21px 21px;
}
main .card .add-game-button {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 50px;
  background: #FFFFFF;
  border: 2px solid #3500D4;
  border-radius: 0px 21px 21px 0px;
  color: black;
  font-size: 40px;
  font-family: monospace;
  font-weight: lighter;
}
main .card .card-header,
main .card .card-body,
main .card .card-footer {
  padding: 0 25px 15px 25px;
}
main .card .card-header {
  font-weight: unset;
  margin-top: unset;
}
main .card .card-header::after {
  content: "";
  margin-top: -15px;
  display: block;
  border-bottom: 0.3px solid white;
  width: 35%;
}
main .card .card-body {
  display: flex;
  flex-direction: column;
  height: 280px;
  overflow: auto;
}
main .card .card-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
main .card .card-item div:nth-child(2) {
  margin-top: -20px;
}
main .card .card-item .card-image-holder {
  overflow: hidden;
  width: 100px;
  height: 100px;
}
main .card .card-item img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
main .card .card-item .card-extra-information {
  font-size: 17px;
}
main .card .card-footer {
  background-color: black;
  border-radius: 0px 0px 19px 19px;
  border: 1px solid #3500D4;
  border-width: 0px 0px 10px 0px;
}
main .submit-modal {
  position: absolute;
  height: 100%;
  width: 55vw;
  z-index: 5;
  visibility: hidden;
}
main .submit-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -50;
}
main .submit-modal .modal-body,
main .submit-modal .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0C0C0C;
}
main .submit-modal .modal-header {
  padding: 0 150px 0 150px;
  font-weight: unset;
  border: 1px solid #3500D4;
  transform: matrix(0.89, 0, -0.5, 1, 0, 0);
}
main .submit-modal .modal-body {
  padding: 25px 50px 0 50px;
  background: #0C0C0C;
  border: 1px solid #3500D4;
  border-radius: 0px 21px 21px 0px;
}
main .submit-modal .modal-body input {
  color: inherit;
  font-family: inherit;
  font-weight: bolder;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px 0 10px;
  border: 1px solid #3500D4;
  width: 100%;
}
main .submit-modal .modal-body input:focus {
  outline: 0;
  border: 2px solid #4f14ff;
}
main .submit-modal .modal-body .modal-listed-games {
  border: 1px solid #3500D4;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 480px;
}
main .submit-modal .modal-footer {
  text-align: center;
  margin-top: 15px;
}
main .submit-modal .submit-game-button,
main .submit-modal .close-modal-button {
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  display: inline;
  background-color: #3500D4;
  border-width: 2px 7px 7px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 0px 21px 21px 21px;
}

@media (max-width: 768px) {
  body {
    background-position: center;
  }
  main .add-game-button {
    display: none;
  }
  main .add-game-button-mobile,
main .main-button {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding: unset;
    margin-bottom: 5px;
  }
  main .card {
    font-size: smaller;
  }
  main .card .card-header::after {
    margin-top: unset;
  }
  main .card .card-item div:nth-child(2) {
    margin-top: unset;
  }
  main .submit-modal {
    top: 10px;
    width: 90%;
  }
  main .submit-modal .modal-header {
    padding: unset;
  }
}/*# sourceMappingURL=index.css.map */