@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

$primary-color: #3500D4;
$secondary-color: #0C0C0C; 
$custom-border-box: 0px 21px 21px 0px;

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    font-family: 'Bungee Hairline', monospace;
    font-size: 22px;
    color: white;
    background-color: black;
}

body {
    height: 100vh;
    background-image: url(../assets/images/rave-video-low-polygon.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

button { cursor: pointer; }

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    section {
        &:nth-child(2) {
            position: relative;
            z-index: 2;
        }

        &:nth-child(3) {
            height: 100%;
            display: none;
            position: absolute;
            &::before {
                position: fixed;
                top:0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.8);
                z-index: 5;
            }
        }
    }

    .avatar-container {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        width: 130px;
        height: 130px;
        border-radius: 9000px;
        border: 5px solid black;
        .avatar {
            background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f37c36a-d254-4e52-b427-08fc2280e223/de8uyku-54403585-a288-4b6a-a536-959c12487df3.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmMzdjMzZhLWQyNTQtNGU1Mi1iNDI3LTA4ZmMyMjgwZTIyM1wvZGU4dXlrdS01NDQwMzU4NS1hMjg4LTRiNmEtYTUzNi05NTljMTI0ODdkZjMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.22y6Hu_wV8L7i92LLrv5dHRmX8Sy8-EE1r3H7OfL_7E);
            background-color: $primary-color;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }


    .main-button {
        margin-bottom: 20px;
        font-family: inherit;
        font-size: 20px;
        color: inherit;
        background-color: $primary-color;
        border-color:black;
        border-radius: 0px 21px 21px 21px;
        border-width: 3px 10px 10px 1px;
        padding: 0 100px 0 100px;
        width: 100%;
    }

    .add-game-button-mobile { 
        display: none;
        margin-bottom: 5px;
        font-family: inherit;
        font-size: 20px;
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 1px solid $primary-color; 
        border-color:black;
        border-radius: 0px 21px 21px 21px;
        border-width: 3px 10px 10px 1px;
        width: 100%;
    }

    .card {
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        border-radius: 0px 21px 21px 21px;

        .add-game-button {
            position: absolute;
            left: 100%;
            top: 50%;
            width: 50px;
            background: #FFFFFF;
            border: 2px solid $primary-color;
            border-radius: $custom-border-box;
            color: black;
            font-size: 40px;
            font-family: monospace;
            font-weight: lighter;
        }

        .card-header,
        .card-body,
        .card-footer {
            padding: 0 25px 15px 25px;
        }

            
        .card-header {
            font-weight: unset;
            margin-top: unset;

            &::after {
                content: "";
                margin-top: -15px;
                display: block;
                border-bottom: 0.3px solid white;
                width: 35%;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            height: 280px;
            overflow: auto;
        }

        .card-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;

            & div:nth-child(2) {
                margin-top: -20px;
            }

            .card-image-holder {
                overflow: hidden;
                width: 100px;
                height: 100px;
            }

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: contain;
            }

            .card-extra-information { font-size: 17px; }
        }

        .card-footer {
            background-color: black;
            border-radius: 0px 0px 19px 19px;
            border: 1px solid $primary-color;
            border-width: 0px 0px 10px 0px;
        }
    }

    .submit-modal {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 55vw;
        z-index: 5;

        .modal-body,
        .modal-header {
            background-color: $secondary-color;
        }

        .modal-header {
            text-align: center;
            padding: 0 150px 0 150px;
            font-weight: unset;
            border: 1px solid $primary-color;
            transform: matrix(0.89, 0, -0.50, 1, 0, 0);
        }

        .modal-body {
            padding: 25px 50px 0 50px;
            background: $secondary-color;
            border: 1px solid $primary-color;
            border-radius: $custom-border-box;

            input {
                color: inherit;
                font-family: inherit;
                font-weight: bolder;
                font-size: 17px;
                background-color: rgba(0,0,0,0);
                padding: 0 10px 0 10px;
                border: 1px solid $primary-color;
                width: 100%;

                &:focus {   
                    outline: 0;
                    border: 2px solid #4f14ff;
                }
            }

            .modal-listed-games {
                border: 1px solid $primary-color;
                margin: 10px 0 10px 0;
                width: 100%;
                height: 480px;
            }
        }
        .modal-footer {
            text-align: center;
            margin-top: 15px;
        }

        .submit-game-button,
        .close-modal-button {
            font-family: inherit;
            font-size: 17px;
            color: inherit;
            display: inline;
            background-color: $primary-color;
            border-width: 2px 7px 7px 1px;
            border-style: solid;
            border-color: #FFFFFF;
            border-radius: 0px 21px 21px 21px;
        }
    }
}

@media (max-width: 768px) {
    body { background-position: center; }

    main {
        button { padding: 10px 15px 10px 15px !important; }

        .add-game-button { display: none; }

        .add-game-button-mobile,
        .main-button { 
            font-size: 15px;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
        }

        .card {
            font-size: 13px;
            .card-header { 
                margin-top: 10px;
                &::after { margin-top: unset; }
            }
            .card-item {
                & div:nth-child(2) { margin-top: unset; }
                .card-extra-information { font-size: unset; }
            }
        }

        .submit-modal {
            width: 90%;
            .modal-header { padding: unset; }
        }
    }
}