@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  font-family: "Bungee Hairline", monospace;
  font-size: 22px;
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  background-image: url(../assets/images/rave-video-low-polygon.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main section:nth-child(2) {
  width: 45vw;
  position: relative;
  z-index: 2;
}
main section:nth-child(3) {
  height: 100%;
  display: none;
  position: absolute;
}
main section:nth-child(3)::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}
main .avatar-container {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 130px;
  height: 130px;
  border-radius: 9000px;
  border: 5px solid black;
}
main .avatar-container .avatar {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f37c36a-d254-4e52-b427-08fc2280e223/de8uyku-54403585-a288-4b6a-a536-959c12487df3.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmMzdjMzZhLWQyNTQtNGU1Mi1iNDI3LTA4ZmMyMjgwZTIyM1wvZGU4dXlrdS01NDQwMzU4NS1hMjg4LTRiNmEtYTUzNi05NTljMTI0ODdkZjMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.22y6Hu_wV8L7i92LLrv5dHRmX8Sy8-EE1r3H7OfL_7E);
  background-color: #3500D4;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
main .main-button {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  background-color: #3500D4;
  border-color: black;
  border-radius: 0px 21px 21px 21px;
  border-width: 3px 10px 10px 1px;
  padding: 0 100px 0 100px;
  width: 100%;
}
main .add-game-button-mobile {
  display: none;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 1px solid #3500D4;
  border-color: black;
  border-radius: 0px 21px 21px 21px;
  border-width: 3px 10px 10px 1px;
  width: 100%;
}
main .card {
  background-color: #0C0C0C;
  border: 2px solid #3500D4;
  border-radius: 0px 21px 21px 21px;
}
main .card .add-game-button {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 50px;
  background: #FFFFFF;
  border: 2px solid #3500D4;
  border-radius: 0px 21px 21px 0px;
  color: black;
  font-size: 40px;
  font-family: monospace;
  font-weight: lighter;
}
main .card .card-header,
main .card .card-body,
main .card .card-footer {
  padding: 0 25px 15px 25px;
}
main .card .card-header {
  font-weight: unset;
  margin-top: unset;
}
main .card .card-header::after {
  content: "";
  margin-top: -15px;
  display: block;
  border-bottom: 0.3px solid white;
  width: 35%;
}
main .card .card-body {
  display: flex;
  flex-direction: column;
  height: 280px;
  overflow: auto;
}
main .card .card-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
main .card .card-item .card-image-holder {
  overflow: hidden;
  width: 100px;
}
main .card .card-item .card-game-title {
  line-height: 20px;
  word-break: break-word;
  width: 30vw;
}
main .card .card-item img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
main .card .card-item .card-extra-information {
  font-size: 17px;
}
main .card .card-footer {
  background-color: black;
  border-radius: 0px 0px 19px 19px;
  border: 1px solid #3500D4;
  border-width: 0px 0px 10px 0px;
}
main .submit-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 55vw;
  z-index: 5;
}
main .submit-modal .modal-body,
main .submit-modal .modal-header {
  background-color: #0C0C0C;
}
main .submit-modal .modal-header {
  text-align: center;
  padding: 0 150px 0 150px;
  font-weight: unset;
  border: 1px solid #3500D4;
  transform: matrix(0.89, 0, -0.5, 1, 0, 0);
}
main .submit-modal .modal-body {
  padding: 25px 50px 0 50px;
  background: #0C0C0C;
  border: 1px solid #3500D4;
  border-radius: 0px 21px 21px 0px;
}
main .submit-modal .modal-body input {
  color: inherit;
  font-family: inherit;
  font-weight: bolder;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px 0 10px;
  border: 1px solid #3500D4;
  width: 100%;
}
main .submit-modal .modal-body input:focus {
  outline: 0;
  border: 2px solid #4f14ff;
}
main .submit-modal .modal-body .modal-listed-games {
  border: 1px solid #3500D4;
  margin: 10px 0 10px 0;
  width: 100%;
  height: 480px;
}
main .submit-modal .modal-footer {
  text-align: center;
  margin-top: 5px;
}
main .submit-modal .submit-game-button,
main .submit-modal .close-modal-button {
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  display: inline;
  background-color: #3500D4;
  border-width: 2px 7px 7px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 0px 21px 21px 21px;
}

@media (max-width: 768px) {
  body {
    background-position: center;
  }
  main section:nth-child(2) {
    width: 90vw;
  }
  main button {
    padding: 10px 15px 10px 15px !important;
  }
  main .add-game-button {
    display: none;
  }
  main .add-game-button-mobile,
main .main-button {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  main .card {
    font-size: 13px;
  }
  main .card .card-header {
    margin-top: 10px;
  }
  main .card .card-header::after {
    margin-top: unset;
  }
  main .card .card-item div:nth-child(2) {
    margin-top: unset;
  }
  main .card .card-item .card-extra-information {
    font-size: unset;
  }
  main .submit-modal {
    width: 90%;
  }
  main .submit-modal .modal-header {
    padding: unset;
  }
}/*# sourceMappingURL=index.css.map */